#Car {
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CurrentCar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 85%;
	height: 90%;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.6px);
	border: 1px solid rgb(231, 231, 231);
	z-index: 1;
    background: url("../../images/wave1.svg") no-repeat bottom;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
        padding: 1rem;
        color: $color-primary;
        text-shadow: 2px 2px 0px rgba(28,110,164,0.15);
    }

    &__box {
        width: 100%;
        display: flex;
        flex-direction:  column;
        align-items: center;
    }

    &__img {
        margin-top: 2rem;
        padding: 1rem;
        img {
            max-width: 400px;
            width: 100%;
        }
    }
}
