.Insurance {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 1300px;
		width: 85%;
		min-height: 90%;
		position: absolute;
		top: 5%;
		background: rgba(241, 241, 241, 0.54);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(7.6px);
		border: 1px solid rgb(231, 231, 231);
        z-index: -1;
	}
}