.Login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	background: url("./login-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	#error-text {
		color: red;
		margin-bottom: 1rem;
	}

	h1 {
		font-size: 2.5rem;
		margin-bottom: 1.5rem;
		z-index: 10;

		span {
			color: $color-primary;
		}
	}

	img {
		margin-top: 1.5rem;
	}

	&__user {
		text-align: center;
		margin-bottom: 2rem;
	}

	&__box {
		border: 2px solid #04a3ff;
		padding: 0 3rem 1rem 3rem;
		border-radius: 20px;
		background: #38b6ff;
		box-shadow:  5px 5px 5px #bfbfbf,
		-5px -5px 10px #ececec;
		Form {
			font-family: $font-primary;
			font-weight: 400;
			color: white;

			p {
                text-align: center;
                margin-top: 2rem;
			}

			span {
				color: black;
				font-weight: 400;
				cursor: pointer;
				transition: text-shadow ease-in-out;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}


	#Login__btn {
		margin-right: 0.25rem;
	}
}
