.My_car {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 85%;
		height: 90%;
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(7.6px);
		border: 1px solid rgb(231, 231, 231);
        z-index: -1;
	}
}