$font-primary: 'Roboto Flex', sans-serif;
$font-secondary: 'Baloo Tamma 2', cursive;

.container {
    margin: 0 auto;
    max-width: 1352px;
}

h1 {
    font-size: 2rem;
    font-family: $font-primary;
}

h2 {
    font-size: 1rem;
    font-family: $font-primary;
}


