$font-primary: 'Roboto Flex', sans-serif;
$font-secondary: 'Baloo Tamma 2', cursive;

.container {
    margin: 0 auto;
    max-width: 1352px;
}

h1 {
    font-size: 2rem;
    font-family: $font-primary;
}

h2 {
    font-size: 1rem;
    font-family: $font-primary;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 0.2; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: black;
    opacity: 0.2;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
	color: black;
    opacity: 0.2;
}

// Scrollbar

::-webkit-scrollbar {
    width: 0.85rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fafafb;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: 6px;
    border: 3px solid white;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(112, 112, 112, 0.88);
  }
